.item {
  .info_item {
    animation: none;
  }

  .price {
    width: 100%;
    animation: increaseWidthPrice 0.3s ease-in-out;
  }

  &:hover {
    background-color: #d6d6d6;

    .price {
      width: 60%;
      animation: decreaseWidthPrice 0.3s ease-in-out;
      text-align: center;
      .price_sale {
        width: 100%;
        animation: decreaseWidthPriceSale 0.6s ease-in-out;
      }
      .original_price {
        display: none;
      }
    }

    .sale_off {
      .reduced_price {
        background-color: white;
      }
    }

    .info_item {
      bottom: 2%;
      animation: openSlideDetail 0.3s ease-in-out;
    }
  }

  &:not(:hover) .info_item {
    bottom: -60%;
    animation: closeSlideDetail 0.3s ease-in-out;
  }
}

@keyframes openSlideDetail {
  0% {
    bottom: -60%;
  }
  100% {
    bottom: 2%;
  }
}

@keyframes closeSlideDetail {
  0% {
    bottom: 2%;
  }
  100% {
    bottom: -60%;
  }
}

@keyframes decreaseWidthPrice {
  0% {
    width: 100%;
  }
  100% {
    width: 60%;
  }
}

@keyframes increaseWidthPrice {
  0% {
    width: 60%;
  }
  100% {
    width: 100%;
  }
}

@keyframes decreaseWidthPriceSale {
  0% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
